# 제어문(Control flow statement)
기본적으로 프로그램은 순차구조를 가진다. 즉 작성한 순서대로 실행이 된다.  
이런 실행흐름을 다른 순서로 제어하기 위한 구문을 만드는 문법이 제어문이다.  
제어문은 **조건문** 과 **반복문** 두가지 문법이 있다.
- **조건문**
    - if 문
- **반복문**
    - while 문
    - for in 문

# 조건문/분기문 (conditional statement)
- 프로그램이 명령문들을 실행하는 도중 특정 순서에서 **조건에 따라 흐름의 나눠져야 하는 경우 사용한다**
- 파이썬은 조건문으로 **if문**이 있다.

![조건문](images/ch03_01.png)

<center>입력 받은 a 의 값이 0인지 여부에 따라 두가지 흐름으로 분기된다.</center>

## 구문

- 조건이 True일 경우만 특정 구문들을 실행 하는 조건문.
```python
if 조건:    # 조건은 bool 표현식을 기술한다. 조건선언 다음에 : 으로 선언해서 코드블록을 구분한다.
    명령문1  # 조건이 True이면 실행할 구문들을 코드블럭에 기술한다.
    명령문2  # 코드 블록은 들여쓰기를 이용해 묶어준다. 보통 공백 4칸으로 들여쓰기를 한다.
    ...
```
> ### 파이썬의 코드블록(code block)  
> 코드블록이란 **여러 명령문들을 묶어놓은 것을** 말한다. 코드블록으로 묶이면 실행시 같이 다 실행되고 실행이 안되면 같이 다 실행이 안된다.    
> 파이썬에서는 코드블록을 작성할 때 **들여쓰기를 이용해 묶어준다.**   
> 같은 칸만큼 들여쓰기를 한 명령문들이 같은 블록으로 묶인다.
> 들여쓰기는 관례적으로 **공백 4칸을** 사용한다. 

> ### pass 키워드(예약어)
> - 빈 구현부를 만들때 사용
>     - 제어문, 함수의 body 코드블럭은 비울 수 없다. 반드시 명령문을 한개 이상 작성해야한다. 
>     - 작성할 내용이 없을 경우 사용하는 키워드로 `pass`를 사용한다. 
>     - `...` 을 대신 사용할 수 있다.

- **조건이 True일때 실행할 구문과 False일때 실행하는 조건문.**
```python
if 조건:     
    명령문1_1 # 조건이 True일 경우 실행할 구문들
    명령문1_2
    ...
else:
    명령문2_1 # 조건이 False일 경우 실행할 구문들
    명령문2_2
    ...
```

- **조건이 여러 개인 조건문.**
```python
if 조건1:
    명령문1_1  # 조건1이 True일 경우 실행할 코드블록. 
    명령문1_2
    ...
elif 조건2:    # 다음 조건으로 앞의 조건들이 모드 False일 경우 비교한다.
    명령문2_1  # 조건2가 True일 경우 실행할 코드블록.
    명령문2_2
    ...
elif 조건3 :
    명령문3_1
    명령문3_2
    ...
else:         # 위의 모든 조건이 False일 경우 실행하는 코드블록. 생략 가능하다.
    명령문4
```

In [3]:
# if 문 -> 조건이 True이면 코드를 실행하고 False이면 안한다.
print("시작") # 1.
num = input("정수: ") # 2. 입력받기
num = int(num) # 3. 문자열 -> 정수
if num == 0:
    print("==영입니다.") # 4. 출력 -> 입력받은 숫자가 0일 때만
    print("==Zero")
else:
    print("==영이 아닙니다.")
    print("==Not Zero")

print("종료") # 5.

시작
==영입니다.
==Zero
종료

In [4]:
# if - elif - else ==> 조건이 여러개인 경우
num = int(input("정수: ")) # 1. 입력 -> 변환
# 2. 부호를 출력 => 3중 하나를 출력
if num > 0:
    print("===양수입니다.")
elif num < 0:
    print("===음수입니다.")
# elif num == 0:
else:
    print("===영입니다.")

===양수입니다.

In [5]:
# 아이디 체크 -> 5글자 이상이면 등록 아니면 가입불가 메세지 출력
user_id = input("ID: ")
if len(user_id) >= 5:
    # 등록
    print(f"{user_id}가 등록되었습니다.")
else:
    print("아이디는 5글자 이상 입력하세요.")

아이디는 5글자 이상 입력하세요.

# 반복문 (Loop statement)

특정 구문들을 반복해서 실행할 때 사용한다. 동일한 코드를 여러번 반복하거나 값이 일정하게 변하는 코드를 반복할 경우 사용한다.  
단순 반복을 처리하는 **while문**과 iterable객체가 제공하는 값들을 반복 조회하는 **for in문** 두가지 문법이 있다.

![반복문](images/ch03_02.png)
<center>count의 값이 limit의 값보다 크거나 같을때 까지 count의 값을 1증가 후 출력하는 구문을 반복한다. </center>

## while문
- 조건이 True인 동안 구문을 반복해서 실행한다.

### 구문
```python
while 조건:       # 조건은 bool 표현식을 기술한다. 조건선언 다음에 : 으로 선언해서 코드블록을 구분한다
    반복할 구문1  # 반복할 구문을 코드블록으로 작성한다.  
    반복할 구문2
    ...
```

In [6]:
limit = int(input("반복할 횟수: ")) # 1.
count = 0 # 2. 몇번째 반복인지 횟수를 저장할 변수.

# 3.
while count < limit: # 조건식이 True인 동안 코드블록을 반복 실행한다.
    count += 1 # count 값을 증가
    print(f"{count} 번째 실행.")

1 번째 실행.
2 번째 실행.
3 번째 실행.

## for  in 문
- Iterable 객체를 순환조회하는 구문
    - for in문은 Iterable 타입의 객체가 가지고 있는 값들을 하나씩 처리하는 구문을 작성할 때 사용한다.

> - **Iterable**
>    - 반복가능한 객체. 반복문(for in)을 이용해 일련의 값들을 반복적으로 각각 제공하는 객체를 말한다. 
>    - 대표적으로 List, Tuple, Dictionary, Set, 문자열 등이 있다.

### 구문
```python
for 변수 in Iterable: # for in 선언후 : 으로 선언부와 구현부를 나눈다.
    반복구문          # Iterable이 반복시 제공하는 값을 가지는 "변수"를 이용해 값들을 처리하는 구문을 코드블록으로 작성한다.
    반복구문
```

In [7]:
lst = [1, 10, 5, -10, 2, -70]
result = []
for var in lst: # iterable lst의 원소들을 하나씩 조회해서 var에 저장
    print(var + 10)
    result.append(var + 10)

11
20
15
0
12
-60

In [8]:
for var in (10, 2, 5):
    print(var + 10)

for var in {10, 2, 5}:
    print(var + 10)

20
12
15
20
12
15

In [9]:
d = {
    "a": 10,
    "b": 100,
    "c": 3000
}

d.items()

dict_items([('a', 10), ('b', 100), ('c', 3000)])

In [10]:
for var in d.values():
    print(var)

10
100
3000

In [11]:
for key, value in d.items():
    print(key, value)

a 10
b 100
c 3000

In [12]:
lst2 = [[10,20,30],[100,200,300],[1000,2000,3000]]

for v in lst2:
    for value in v:
        print(value + 10, end="\t")
    print()

20	30	40
110	210	310
1010	2010	3010

In [13]:
for v1, v2, v3 in lst2:
    print(v1,v2,v3)
    # print()

10 20 30
100 200 300
1000 2000 3000

In [14]:
[0,1]*10

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

## continue와 break를 이용한 반복문 제어
- **continue**
    - 실행 블록에서 continue가 실행되면 현재 반복을 중단하고 다음 반복을 진행한다.
    - 특정 조건에서 처리를 멈추고 다음 처리를 반복할 때 사용한다.
- **break**
    - 반복문 실행을 중단한다.
    - 특정 조건에서 반복문을 중간에 중지할때 사용한다.
- continue와 break는 특정 조건에서 실행되야 하는 경우가 대부분이므로 if문 안에 작성한다.

In [15]:
import random # 실행할 때마다 정수 난수를 발생
result = []
# 생성된 난수를 result에 저장 -> 0이 나올 때까지.

while True:
    num = random.randint(-10,10) # -100 ~ 100 사이의 난수
    # result.append(num)
    if num == 0: # 종료 조건
        break
    if num < 0: # 음수이면
        continue # 저장하는 코드 실행하지 않고 다음 반복 실행
    result.append(num)
print("종료")

종료

In [16]:
result

[9, 5, 4, 9, 6, 5, 7, 4, 3, 4, 4, 9, 3, 1, 7]

In [17]:
lst

[1, 10, 5, -10, 2, -70]

In [18]:
result = False # 결과 - True: 있다. False: 없다.
for v in lst:
    if v == 5:
        result = True
        break

In [19]:
"5가 있음" if result else "5가 없음"

'5가 있음'

## for in 문 연관 내장 함수

### range()
- 일정한 간격의 연속된 정수를 제공하는 반복가능 객체 생성한다.
- 구문
    - `range([시작값], 멈춤값, [증감값])`
        - 시작값, 멈춤값, 증감값 모두 정수만 가능하다.
        - 시작값 > 멈춤값 이고 증감값이 음수이면 내림차순으로 값을 제공한다.
        1. 전달값이 **1개: 멈춤값**. 
            - 0 ~ (멈춤값-1)까지 1씩 증가하는 정수를 제공
        2. 전달값이 **2개: 시작값, 멈춤값**. 
            - 시작값 ~ (멈춤값-1) 까지 1씩 증가하는 정수 제공
        3. 전달값이 **3개: 시작값, 멈춤값, 증감값(간격)**. 
            - 시작값 ~ (멈춤값-1)까지 증감값만큼 증가하는 정수를 제공.

In [20]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [22]:
set(range(1,11))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## enumerate()

- 구문
    - `enumerate(Iterable,  [, start=정수])`
        - 현재 몇번째 값을 제공하는 지(현재 몇번째 반복인지)를 나타내는 **index**와 제공하는 **원소**를 tuple로 묶어서 반환
        - Iterable
            - 값을 제공할 Iterable객체
        - start: 정수
            - index 시작 값. 생략하면 0부터 시작한다.

In [23]:
for v in enumerate(lst):
    print(v)

(0, 1)
(1, 10)
(2, 5)
(3, -10)
(4, 2)
(5, -70)

In [24]:
for idx, value in enumerate(lst, start=1):
    print(idx,value)

1 1
2 10
3 5
4 -10
5 2
6 -70

In [25]:
# 1,000,000번 반복 처리
# for i in raidxnge(1_000_000):
for idx, value in enumerate(range(1_000_000), start=1):
    # 처리코드
    # 10만번당 한번씩 중간결과를 출력
    if idx % 100000 == 0:
        print(f"{format(idx, ',')} - 중간 결과")

100,000 - 중간 결과
200,000 - 중간 결과
300,000 - 중간 결과
400,000 - 중간 결과
500,000 - 중간 결과
600,000 - 중간 결과
700,000 - 중간 결과
800,000 - 중간 결과
900,000 - 중간 결과
1,000,000 - 중간 결과

## zip()
- 여러 개의 Iterable 객체를 받아 반복시 같은 index의 값끼리 튜플로 묶어 반환한다.
- 구문
    - `zip(Iterable1, Iterable2, Iterable3 [, .......])`
        - Iterable 2개이상.전달한다.
- 각 Iterable이 제공하는 원소의 개수가가 다를 경우 가장 적은 것의 개수에 맞춰 반복한다.

In [26]:
# 여러 사람의 정보(이름, 나이, 주소)를 따로 저장
names = ["이순신", "유관순", "강감찬"]
ages = [30, 40, 50]
addresses = ["서울", "인천", "부산"]
# 같은 index 값들이 한 사람의 정보

In [27]:
for value in zip(names, ages, addresses, range(3)):
    print(value)

('이순신', 30, '서울', 0)
('유관순', 40, '인천', 1)
('강감찬', 50, '부산', 2)

In [28]:
for name, age, address in zip(names, ages, addresses):
    if age >= 40:
        print(name, age, address)

유관순 40 인천
강감찬 50 부산

In [29]:
# iterable들의 원소의 개수가 다를 경우 가장 적은 개수만큼 반복 조회한다.
for name, age, address, value in zip(names, ages, addresses, range(10)):
    print(name, age, address, value)

이순신 30 서울 0
유관순 40 인천 1
강감찬 50 부산 2

In [30]:
a, b = (1,2), 3
print(a)
print(b)

(1, 2)
3

In [31]:
(a, b), c = (1,2), 3
print(a,b,c)

1 2 3

In [32]:
for v in enumerate(zip(names, ages, addresses)):
    print(v)

(0, ('이순신', 30, '서울'))
(1, ('유관순', 40, '인천'))
(2, ('강감찬', 50, '부산'))

In [33]:
for idx, (name, age, address) in enumerate(zip(names, ages, addresses)):
    print(f"{idx+1}. 이름: {name}, 나이: {age}, 주소: {address}")

1. 이름: 이순신, 나이: 30, 주소: 서울
2. 이름: 유관순, 나이: 40, 주소: 인천
3. 이름: 강감찬, 나이: 50, 주소: 부산

# 컴프리헨션(Comprehension)

- 기존 Iterable의 원소들을 이용해서 새로운 자료구조(List, Dictionary, Set)를 생성하는 구문.
    - 기존 Iterable의 **원소들을 처리한 결과**나  **특정 조건이 True인 값들을** 새로운 자료구조에 넣을때 사용.
    - 결과를 넣을 새로운 자료구조 타입에 따라 다음 세가지가 있다.
        - 리스트 컴프리헨션
        - 딕셔너리  컴프리헨션
        - 셋  컴프리헨션
- **튜플 컴프리헨션**은 없다.
- **딕셔너리 컴프리헨션**과 **셋 컴프리헨션**은 파이썬 3 에 새로 추가되었다.

In [34]:
l1 = list(range(1,10))
# l1의 모든 원소들의 10배한 값을 가지는 리스트
result = []
for v in l1:
    result.append(v * 10)
result

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [35]:
result2 = [v * 10 for v in l1] # list comprehension
result2

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [36]:
{v*10 for v in l1} # set comprehension

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [37]:
{f"key-{v}":v*10 for v in l1} # dictionary comprehension

{'key-1': 10,
 'key-2': 20,
 'key-3': 30,
 'key-4': 40,
 'key-5': 50,
 'key-6': 60,
 'key-7': 70,
 'key-8': 80,
 'key-9': 90}

In [38]:
l1 = list(range(1,10))
# l1의 모든 원소들의 10배한 값을 가지는 리스트
result = []
for v in l1:
    if v % 2 == 0:
        result.append(v)
result

[2, 4, 6, 8]

In [39]:
[v for v in l1 if v % 2 ==0] # if 조건이 True인 v만 리스트에 추가

[2, 4, 6, 8]

In [40]:
r = []
l1 = [[1,2,3],[4,5]]
for v in l1:
    for value in v:
        if value > 0:
            r.append(value)

[value for v in l1 for value in v if value > 0]

[1, 2, 3, 4, 5]

In [41]:
l2 = ["aaaa", "abBa", "Acddef", "AcDCcc"]
result = [v.upper() for v in l2]
result
{v:len(v) for v in l2}

{'aaaa': 4, 'abBa': 4, 'Acddef': 6, 'AcDCcc': 6}

# TODO

In [42]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

jumsu = int(input('변환할 점수: '))
if jumsu < 0 or jumsu > 100:
    print(f'{jumsu}는 변환할 수 없는 점수입니다. 0 ~ 100 사이의 값을 넣으세요.')
elif jumsu >= 91:
    print('A학점')
elif jumsu >= 81:
    print('B학점')
elif jumsu >= 71:
    print('C학점')
elif jumsu >= 61:
    print('D학점')
else:
    print('F학점')

C학점

In [43]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 
# 5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.

ID = input('ID: ')
if len(ID) >= 5:
    print('사용할 수 있습니다.')
else:
    print('사용할 수 없는 ID입니다.')

사용할 수 없는 ID입니다.

In [44]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 서울이면 "특별시"를 
# 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.

city = input('도시명: ').strip()

if city == '서울':
    print('특별시')
elif city in ['인천','부산','광주','대구','대전','울산']:
    print('광역시')
else:
    print('특별시나 광역시가 아닙니다.')

특별시

In [45]:
#(4) 아래 리스트의 평균을 구하시오.

jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
jumsu_sum = 0
for j in jumsu:
    jumsu_sum += j
print("총점: ", jumsu_sum)
jumsu_avg = jumsu_sum / len(jumsu)
print("평균: ", jumsu_avg)

총점:  890
평균:  89.0

In [46]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)

for index, value in enumerate(jumsu):
    if value >= jumsu_avg:
        print(f"{index}-Pass")
    else:
        print(f"{index}-Fail")

0-Pass
1-Pass
2-Pass
3-Fail
4-Fail
5-Pass
6-Fail
7-Pass
8-Pass
9-Fail

In [47]:
for index, value in enumerate(jumsu):
    print(f'{index} - {"Pass" if value >= jumsu_avg else "Fail"}')

0 - Pass
1 - Pass
2 - Pass
3 - Fail
4 - Fail
5 - Pass
6 - Fail
7 - Pass
8 - Pass
9 - Fail

In [48]:
[f"Pass,{idx}" if val >= jumsu_avg else "Fail" for idx,val in enumerate(jumsu)]

['Pass,0',
 'Pass,1',
 'Pass,2',
 'Fail',
 'Fail',
 'Pass,5',
 'Fail',
 'Pass,7',
 'Pass,8',
 'Fail']

In [49]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력

jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
max_value =  jumsu[0] # 최대값을 저장할 변수. 각각의 원소들을 이 변수 값과 비교해서 큰 값으로 이 변수값을 변경.
for value in jumsu:
    if value > max_value:
        max_value = value
        
print('최대값: ', max_value)

최대값:  95

In [50]:
jumsu.sort()
jumsu[-1]

95

In [51]:
# 최대/최소값을 계산하는 파이썬 함수
max(jumsu), min(jumsu)

(95, 55)

In [52]:
#(7) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "토끼", "뱀", "돼지", "호랑이"]
[v for v in str_list if v not in ["쥐", "토끼"]] # v != "쥐" and v != "토끼"

['소', '호랑이', '용', '뱀', '돼지', '호랑이']

In [53]:
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀", "토끼"]
for value in str_list:
    if value not in ["쥐", "토끼"]:
        print(value)

소
호랑이
용
뱀

In [54]:
for value in str_list:
    if value in ["쥐", "토끼"]:
        continue
    print(value)

소
호랑이
용
뱀

In [55]:
#(8) 사용자로부터 정수를 입력받아 그 정수 단의 구구단을 출력하시오. 
# ex) 
# 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

#컴프리헨션
num = int(input())
[print(f"{num} x {i} = {num*i}") for i in range(1,10)];

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [56]:
dan = int(input("단을 입력하시오: "))
for i in range(1, 10):
    print(f"{dan} X {i} = {dan*i}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [57]:
for num in range(1, 10):
    for dan in range(2, 10):
        print(f"{dan} X {num} = {dan*num}", end="\t")
    print()

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [58]:
#(9) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)

lst = [10, 30, 70, 5, 120, 700, 1, 35]
[v*2 for v in lst]

[20, 60, 140, 10, 240, 1400, 2, 70]

In [59]:
#(10) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]

lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
[(v,v*10) for v in lst]

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [60]:
#(11) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)

lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
[v for v in lst2 if v % 3 == 0]

[3, 33, 21, 33, 60, 120]

In [61]:
#(12) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)

file_names=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
[v for v in file_names if v.endswith("exe")]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [62]:
#(13) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.

file_names=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
[v for v in file_names if len(v) >= 10]

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [63]:
#(14) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.

str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]
[v for v in str_list if v.islower()]

['c', 'g', 'h', 'k']