# 2일차(2023.12.28)
- 개요
    - Indexing과 Slicing
    - Format string
    - 데이터 타입 변환
    - 자료구조

# Indexing과 Slicing

**indexing**: 집합 내에서 하나의 값을 조회하는 방법  
**slicing**: 집합내에서 여러개의 값들을 범위로 지정해 조회하는 방법

In [1]:
s = "안녕하세요. 반갑습니다."
print(s)

안녕하세요. 반갑습니다.

In [2]:
print(s[0], s[12]) # 양수 인덱스: 앞에서 몇번째 글자를 조회
print(s[-13], s[-1]) # 음수 인덱스: 뒤에서 몇번째 글자를 조회

안 .
안 .

In [3]:
print(s[1:5]) # 1~4번째 글자 슬라이싱
print(s[:5]) # 4번째 글자까지 슬라이싱
print(s[2:]) # 2번째 글자부터 슬라이싱
print(s[::3]) # 0,3,6,9번째 글자
print(s[5:1:-1]) # 5,4,3,2번째 글자

녕하세요
안녕하세요
하세요. 반갑습니다.
안세 습.
.요세하

# Format string 생성

문자열에 문장 형식을 미리 만든 후 나중에 대입하는 방식

---
format() 함수 이용 (placeholder)

In [4]:
name = "이순신"
age = 20
address = "서울"

layout = "이름: {}\n나이: {}\n주소: {}"
result = layout.format(name, age, address)
print(result)

이름: 이순신
나이: 20
주소: 서울

---
% value 사용

In [5]:
print("이름: %s\n나이: %d\n주소: %s" % (name, age, address))

이름: 이순신
나이: 20
주소: 서울

---
f-string 방법

In [6]:
print(f"이름: {name}\n나이: {age}\n주소: {address}")

이름: 이순신
나이: 20
주소: 서울

## string 주요 메소드

In [7]:
'a b c'.split() # 구분 문자열을 기준으로 나눔
' a b c '.strip() # 양 끝 공백을 제거함
'a b c'.replace('c','d') # 문자열을 바꿈
'aabbbcccc'.count('a') # 문자열을 세줌
'abc'.index('a') # 문자열의 인덱스를 조회 = .find()
'abc'.upper() # 대문자로 바꿔줌 <-> lower()
'abc'.capitalize() # 첫글자를 대문자로
'abc'.islower() # 모든 문자가 소문자인지 <-> isupper()
'abc'.startswith('a') # 문자열로 시작하는지 <-> endswith()

True

# 데이터 타입 변환

동적타입 언어 특징: 변수의 타입이 정해져 있지 않음

In [8]:
print(type('1'))
print(type(int('1'))) # 정수로 변환

<class 'str'>
<class 'int'>

In [9]:
print(type('1'))
print(type(float('1'))) # 실수로 변환

<class 'str'>
<class 'float'>

In [10]:
print(type(1))
print(type(str('1'))) # 문자열로 변환

<class 'int'>
<class 'str'>

In [11]:
print(type('1'))
print(type(bool('1'))) # 논리형으로 변환

<class 'str'>
<class 'bool'>

In [12]:
n1 = int(input("숫자1 "))
n2 = int(input("숫자2 "))
n1 + n2 # input은 입력 값을 문자열로 받음

숫자1  2
숫자2  5

7

0, 0.0, 0글자, None, 원소가 없는 자료는 False

In [13]:
bool(0), bool(""), bool(None), bool([])

(False, False, False, False)

# 자료구조

- 여러 개의 값들을 모아서 관리하는 데이터 타입  
- 원소: 자료구조의 값들을 구성하는 개별 값

## 리스트(List)  

- 값들을 순서대로 모아서 관리하는 자료구조  
- 인덱스를 가지고 식별  
- 중복된 값들 저장 가능  
- 원소들을 변경할 수 있음

In [14]:
names = ["홍길동", "이순신", "유관순", "강감찬"]
ages = [10, 16, 20, 43]

In [15]:
customer_info = ["홍길동", 30, "서울", 176.3, True] # 서로 다른 타입의 값들을 모을 수 있다.

In [16]:
names[0] = "세종대왕" # index 0의 원소를 변경
names

['세종대왕', '이순신', '유관순', '강감찬']

In [17]:
# 두 리스트의 원소를 합친 새로운 리스트를 생성
names + ages

['세종대왕', '이순신', '유관순', '강감찬', 10, 16, 20, 43]

중첩 리스트 (Nested List)  
- List가 원소로 List를 가지는 것

In [18]:
ages1 = [10, 20, 30, 40]
ages2 = [15, 60, 50, 43]
ages3 = [30, 25, 7 , 11, 10, 20]

age_group = [ages1, ages2, ages3]
age_group

[[10, 20, 30, 40], [15, 60, 50, 43], [30, 25, 7, 11, 10, 20]]

In [19]:
age_group[0][1]

20

### List 주요 메소드

In [20]:
names

['세종대왕', '이순신', '유관순', '강감찬']

In [21]:
names.append(["오철기","박영희"])
names # value 값을 추가

['세종대왕', '이순신', '유관순', '강감찬', ['오철기', '박영희']]

In [22]:
names.extend(["오철기","박영희"])
names # List의 원소 추가

['세종대왕', '이순신', '유관순', '강감찬', ['오철기', '박영희'], '오철기', '박영희']

In [23]:
names.sort
names # 원소들을 오름차순 정렬 <-> reverse=True

['세종대왕', '이순신', '유관순', '강감찬', ['오철기', '박영희'], '오철기', '박영희']

In [24]:
names.insert(2, "광개토대왕")
names # 지정한 인덱스에 값 삽입

['세종대왕', '이순신', '광개토대왕', '유관순', '강감찬', ['오철기', '박영희'], '오철기', '박영희']

In [25]:
names.remove("오철기") 
names # 같은 값 중 첫 원소를 삭제

['세종대왕', '이순신', '광개토대왕', '유관순', '강감찬', ['오철기', '박영희'], '박영희']

In [26]:
names.index('강감찬',0) # 값의 인덱스 조회

4

In [27]:
names.pop() # 인덱스의 값 반환 후 삭제 -> 없으면 마지막
names

['세종대왕', '이순신', '광개토대왕', '유관순', '강감찬', ['오철기', '박영희']]

## 튜플(Tuple)

- 순서대로 원소들을 관리
- 저장된 원소를 변경할 수 없음

In [28]:
t3 = 10, "가나다", True, 23.2 # 다른 타입의 값들을 모을 수 있다.
t3 # 소괄호를 생략할 수 있다.

(10, '가나다', True, 23.2)

In [29]:
t1 = (10, 20, 30, 40, 50)
t2 = (100, 200, 300, 400)

t3 = t1 + t2 # t1과 t2는 변하지 않음
t3 # 둘을 합친 새로운 tuple을 반환

(10, 20, 30, 40, 50, 100, 200, 300, 400)

In [30]:
t4 = (1,2,3,10,2)
t4.index(2) # 가장 먼저 나오는 값 인덱스 반환
t4.index(2, 3) # 값 2를 index 3에서부터 찾음

4

## 딕셔너리(Dictionary)

- 값을 키(key)-값(value) 쌍으로 묶어서 저장하는 자료구조
-  index의 역할을 하는 key를 직접 지
- 다.
key-value 쌍으로 묶은 데이터 한개를 
- 한다.
key는 중복을 허용,하지 않고 value는 중허용한다.

In [31]:
customer_info = {"이름":"홍길동",
                 "나이":30,
                 "주소":"서울시 서초구",
                 "결혼여부":True
                }
customer_info

{'이름': '홍길동', '나이': 30, '주소': '서울시 서초구', '결혼여부': True}

In [32]:
customer_info2 = dict(이름="이순신", 나이=30, 결혼여부=False)
customer_info2

{'이름': '이순신', '나이': 30, '결혼여부': False}

In [33]:
# 값 변경 - 있는 key에 값을 대입
customer_info["나이"] = 20
customer_info

{'이름': '홍길동', '나이': 20, '주소': '서울시 서초구', '결혼여부': True}

In [34]:
# 값 추가 - 없는 key에 값을 대입
customer_info["혈액형"] = "A형"
customer_info

{'이름': '홍길동', '나이': 20, '주소': '서울시 서초구', '결혼여부': True, '혈액형': 'A형'}

### Dict 주요 메소드

In [35]:
customer_info.get("몸무게") # 없는 key로 조회 시, None을 반환

In [36]:
customer_info.get("몸무게", -100) # 지정한 값을 반환

-100

In [37]:
del customer_info['혈액형']
customer_info # key의 item을 삭제

{'이름': '홍길동', '나이': 20, '주소': '서울시 서초구', '결혼여부': True}

## 집합(Set)

- 중복되는 값을 허용하지 않고 순서를 신경 쓰지 않음  
- indexing과 slicing을 지원하지 않음

In [38]:
s1 = {1,2,3}
s1

{1, 2, 3}

In [39]:
s2 = {1,2,3,1,2,3}
s2 # 개별 원소를 조회할 수 없다.

{1, 2, 3}

In [40]:
s1 = {1,2,3,4}
s1.update([1, 10, 100, 1000]) # 하나는 add()
s1 # 원소들을 모두 집합에 추가

{1, 2, 3, 4, 10, 100, 1000}

In [41]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
s1 | s2 # 합집합

{1, 2, 3, 4, 5, 6, 7}

In [42]:
s1 & s2 # 교집합

{3, 4, 5}

In [43]:
s1 - s2 # 차집합

{1, 2}

---
자료구조를 이용한 대입

In [44]:
n1, n2, n3 = [10, 20, 30] # 리스트 대입

n10, n20, n30 = (100, 200, 300) # 튜플 대입
a, b, c = 1, 2, 3

n100, n200, n300 = {1,2,3} # 셋 대입

## 자료구조 타입 변환

- list(자료구조): 자료구조를 List로 변환  
- tuple(자료구조): 자료구조를 Tuple로 변환  
- set(자료구조): 자료구조를 Set으로 변환  
    - 다른 자료구조의 원소 중 중복을 빼고 조회할 때 이용  

Iterable: 반복가능한 객체  
- Iterable이 제공하는 값을 반복문을 이용해 조회  
- 자료구조, 문자열

1. 좋았던 점  
   문자열에 관한 메소드를 통해 이후 자연어 처리를 할 때 도움이 될 것 같다.

2. 배운 점  
   인덱싱과 슬라이싱, 문자열을 처리하는 방법, 다양한 자료구조를 배웠다.

3. 아쉬웠던 점  
   건강 관리를 못해 수업을 받는데 체력적으로 힘들었었다.  

4. 앞으로의 계획  
   오늘 배운 내용을 응용하면 다양한 전처리를 할 수 있을 것이다.